# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AN3SEM1\testSabloane\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
